{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "browsers": ["ios_saf >= 9"]
        }
      }
    ],
    "@babel/react",
    "@babel/typescript"
  ],

  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ]
}
